@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  background-color: #fce2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
